In [2]:
import csv
import os
import pandas as pd
import re

In [3]:
pd.__version__

'1.4.2'

Define el path utilizando la función join del módulo os   
G:\Mi unidad\Proyectos\En Curso\EGS\USTA\Migración   
C:\Users\carlo\Google Drive\Proyectos\En Curso\EGS\USTA\Migración

In [4]:
path = os.path.join("C:\\","Users","carlo","Google Drive", "Proyectos", "En Curso", "EGS", "USTA", "Migración")

# Imprime el path resultante
print(path)

C:\Users\carlo\Google Drive\Proyectos\En Curso\EGS\USTA\Migración

Especifica la rutas y los archivos CSV que se quiere leer y escribir

In [6]:
# Especifica la ruta del archivo CSV que quieres leer
archivo_entrada = path + "\\Up_00_MIGRACION_PROCESSES.csv"

# Especifica la ruta del archivo CSV que quieres guardar
archivo_salida = path + "\\Out_Up_00_MIGRACION_PROCESSES.csv"

---

In [223]:
with open(archivo_entrada, 'r', encoding='utf-8') as archivo_original:
    # Lee el contenido del archivo
    contenido = archivo_original.read()

# Remueve caracteres no deseados (en este caso, saltos de línea)
contenido_limpio = contenido.replace('\n', '')

# Crea un nuevo archivo y escribe el contenido limpio
with open('archivo_limpio.csv', 'w') as archivo_limpio:
    archivo_limpio.write(contenido_limpio)

In [224]:
import csv

# Abre el archivo CSV original
with open(archivo_entrada, 'r', newline='', encoding='utf-8') as archivo_original:
    # Lee el contenido del archivo y conviértelo en una lista de diccionarios
    lector_csv = csv.DictReader(archivo_original)
    contenido = list(lector_csv)

# Remueve los campos no deseados de cada fila
# for fila in contenido:
#     del fila['campo_no_deseado_1']
#     del fila['campo_no_deseado_2']
    # Añade más líneas como la anterior para cada campo que quieras remover

# Crea un nuevo archivo CSV y escribe el contenido limpio
with open('archivo_limpio.csv', 'w', newline='') as archivo_limpio:
    escritor_csv = csv.DictWriter(archivo_limpio, fieldnames=lector_csv.fieldnames)
    escritor_csv.writeheader()
    escritor_csv.writerows(contenido)

---

In [255]:
df = pd.read_csv(archivo_entrada)

In [226]:
df.describe()

,query_link,area_id,theme_id,type_area_id,office_id,suboffice_id,state_process_id,state_reason_id,party_id,department_id,city_id,organ_id,organ_number,specialty_id,query_id
count,0.0,615.000000,615.000000,0.0,615.0,615.000000,615.000000,249.000000,615.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,4.271545,52.134959,NaN,1.0,1.837398,1.406504,16.955823,14.0,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.129233,27.540488,NaN,0.0,1.868538,0.491581,4.977576,0.0,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,1.000000,NaN,1.0,1.000000,1.000000,8.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,3.000000,47.000000,NaN,1.0,1.000000,1.000000,11.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.000000,60.000000,NaN,1.0,1.000000,1.000000,20.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,5.000000,60.000000,NaN,1.0,1.000000,2.000000,21.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,9.000000,96.000000,NaN,1.0,6.000000,2.000000,21.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN

In [227]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               615 non-null    object
 1   case_number        615 non-null    object
 2   acts               603 non-null    object
 3   pretensions        603 non-null    object
 4   query_link         0 non-null      float64
 5   observations       615 non-null    object
 6   student_id         584 non-null    object
 7   asesor_id          585 non-null    object
 8   monitor_id         585 non-null    object
 9   area_id            615 non-null    int64
 10  theme_id           615 non-null    int64
 11  type_area_id       0 non-null      float64
 12  office_id          615 non-null    int64
 13  suboffice_id       615 non-null    int64
 14  state_process_id   615 non-null    int64
 15  state_reason_id    249 non-null    float64
 16  state_reason_date  249 non-null    object
 17  party_id           615 non-null    int64
 18  department_id      0 non-null      float64
 19  city_id            0 non-null      float64
 20  organ_id           0 non-null      float64
 21  organ_number       0 non-null      float64
 22  specialty_id       0 non-null      float64
 23  query_id           0 non-null      float64
 24  created_at         615 non-null    object
 25  updated_at         615 non-null    object
dtypes: float64(9), int64(6), object(11)
memory usage: 125.0+ KB

In [256]:
df[['observations']]

                                          observations
0                          prueba del 1 - prueba del 1
1                                                   -
2                                                   -
3     Dr. Martin Hernández Sánchez. \r\nProceso de ...
4     Dr. Daniel Felipe Ospina Sánchez.\nProceso ej...
..                                                 ...
610  REPARTO - Es competente el consultorio cuando ...
611  PROCESO EJECUTIVO DE ALIMENTOS  - Se le inform...
612  ejecutivo de alimentos -   este proceso se ade...
613  EL PROCESO EJECUTIVO YA TIENE OTRO RADICADO, E...
614  numero 3218522096-- esposa-- Yuly Castiblanco ...

[615 rows x 1 columns]

In [257]:
df[df.case_number == 'RAD2022000213'][['acts','pretensions','observations']]

,acts,pretensions,observations
59,"\r\n\r\n\\\""(...) Para solicitarle se adelante...",ACTUACIONES PROCESALES\r\n\r\nAuto N. 014 de f...,PROCESO ASIGNADO (JIMMY ALEJANDRO REALES HERNA...

In [258]:
df[['acts','pretensions','observations']]

,acts,pretensions,observations
0,prueba del 1,prueba del 1,prueba del 1 - prueba del 1
1,NaN,NaN,-
2,NaN,NaN,-
3,Se envió vía correo electrónico a la Contralor...,Desempeñarme como defensor o apoderado de ofic...,Dr. Martin Hernández Sánchez. \r\nProceso de ...
4,un millón setecientos cincuenta mil pesos ($1...,"Iniciar proceso ejecutivo, para hacer efectiv...",Dr. Daniel Felipe Ospina Sánchez.\nProceso ej...
...,...,...,...
610,"aseso, atender a la due\u00f1a de la finca, a...","la prima de servicios, las cesant\u00edas, lo...",REPARTO - Es competente el consultorio cuando ...
611,Gastos externos ser\u00e1n pagados solidariam...,Librar mandamiento ejecutivo por concepto de i...,PROCESO EJECUTIVO DE ALIMENTOS - Se le inform...
612,1. el 27 de febrero de 2018 en la defensor\u00...,1. Cristian camilo solicita que su padre le ay...,ejecutivo de alimentos - este proceso se ade...
613,HECHOS PARA EL A\u00d1I 2019 SE FIJO UNA CUOT...,"SOLICITAR EL REAJUSTE DE LA CUOTA ALIMENTARIA,...","EL PROCESO EJECUTIVO YA TIENE OTRO RADICADO, E..."
614,\r\n- su esposa iba manejando en el carro el c...,\u00bfel seguro puede hacerse responsable con ...,numero 3218522096-- esposa-- Yuly Castiblanco ...

In [259]:
columnas=['acts','pretensions','observations']

In [261]:
for columna in columnas:
    df[columna] = df[columna].apply(lambda x: re.sub(r'[^a-zA-Z0-9 .,;-]+', '', str(x)))

In [252]:
#df['acts'] = df['acts'].re.sub(r'[^a-zA-Z0-9]+', '', df['acts'])
df['acts'] = df['acts'].apply(lambda x: re.sub(r'[^a-zA-Z0-9 .,;-]+', '', str(x)))  #áéíóúñ\:
df['pretensions'] = df['pretensions'].apply(lambda x: re.sub(r'[^a-zA-Z0-9 .,;-]+', '', str(x)))  #áéíóúñ\:
df['observations'] = df['observations'].apply(lambda x: re.sub(r'[^a-zA-Z0-9 .,;-]+', '', str(x)))  #áéíóúñ\:

In [232]:
df['acts'] = df['acts'].replace('\n', 'ALGO', regex=True)
df['pretensions'] = df['pretensions'].replace('\n', 'ALGO', regex=True)
df['observations'] = df['observations'].replace('\n', 'ALGO', regex=True)

In [262]:
df[df.case_number == 'RAD2022000213'][['acts','pretensions','observations']]

,acts,pretensions,observations
59,rnrn... Para solicitarle se adelanten las acci...,ACTUACIONES PROCESALESrnrnAuto N. 014 de fecha...,PROCESO ASIGNADO JIMMY ALEJANDRO REALES HERNAN...

In [263]:
df[['acts','pretensions','observations']]

,acts,pretensions,observations
0,prueba del 1,prueba del 1,prueba del 1 - prueba del 1
1,nan,nan,-
2,nan,nan,-
3,Se envi va correo electrnico a la Contralora G...,Desempearme como defensor o apoderado de ofici...,Dr. Martin Hernndez Snchez. rnProceso de resp...
4,un milln setecientos cincuenta mil pesos 1750...,"Iniciar proceso ejecutivo, para hacer efectiv...",Dr. Daniel Felipe Ospina Snchez.nProceso ejec...
...,...,...,...
610,"aseso, atender a la dueu00f1a de la finca, ar...","la prima de servicios, las cesantu00edas, los...",REPARTO - Es competente el consultorio cuando ...
611,Gastos externos seru00e1n pagados solidariame...,Librar mandamiento ejecutivo por concepto de i...,PROCESO EJECUTIVO DE ALIMENTOS - Se le inform...
612,1. el 27 de febrero de 2018 en la defensoru00e...,1. Cristian camilo solicita que su padre le ay...,ejecutivo de alimentos - este proceso se ade...
613,HECHOS PARA EL Au00d1I 2019 SE FIJO UNA CUOTA...,"SOLICITAR EL REAJUSTE DE LA CUOTA ALIMENTARIA,...","EL PROCESO EJECUTIVO YA TIENE OTRO RADICADO, E..."
614,rn- su esposa iba manejando en el carro el cua...,u00bfel seguro puede hacerse responsable con e...,numero 3218522096-- esposa-- Yuly Castiblanco ...

In [116]:
df.to_csv(archivo_salida, sep='|', quotechar = '"', index=False)