### Preparación ambiente

In [1]:
import csv
import os
import pandas as pd
import re

In [2]:
pd.__version__

'2.0.1'

Define el path utilizando la función join del módulo os   
G:\Mi unidad\Proyectos\En Curso\EGS\USTA\Migración   
C:\Users\carlo\Google Drive\Proyectos\En Curso\EGS\USTA\Migración

/Users/carlos/Library/CloudStorage/GoogleDrive-carlos.gomzv@gmail.com/My Drive/Proyectos/En Curso/EGS/Mariana

In [63]:
path = os.path.join("/Users","carlos","Library","CloudStorage", "GoogleDrive-carlos.gomzv@gmail.com","My Drive","Proyectos", "En Curso", "EGS", "Mariana")

# Imprime el path resultante
# print(path)
if os.path.exists(path) and os.path.isdir(path):
    # Listar los archivos en la ruta
    archivos = os.listdir(path)

    # Itera a través de los nombres de los archivos
    for archivo in archivos:
        print(archivo)
else:
    print("La ruta "+ path +" especificada no existe o no es un directorio válido.")

PROCESS_PART 19102023.csv
NEWout_processes_25102023.csv
processes_25102023.csv
processes_31102023.csv
Old_19102023.zip
.DS_Store
out_customers_25102023.csv
customers 19102023.csv
TRACE_PROCESSES 19102023.csv
out_processes 19102023.csv
TRACE_PROCESSES_25102023.csv
out_processes_31102023.csv
out_processes_25102023.csv
out_customers_19102023.csv
customers_25102023.csv
out_TRACE_PROCESSES_25102023.csv
PROCESS_PART_25102023.csv
processes 19102023.csv

Especifica la rutas y los archivos CSV que se quiere leer y escribir

In [64]:
# Especifica la ruta del archivo CSV que quiere leer
archivo_entrada = path + "/TRACE_PROCESSES 19102023.csv"

# Especifica la ruta del archivo CSV que quiere guardar
archivo_salida = path + "/out_TRACE_PROCESSES 19102023.csv"

### Validaciones

In [65]:
df = pd.read_csv(archivo_entrada, encoding="utf-8", sep="|")

In [66]:
df.describe()

,NOTICES_ID,NOTIFICATION_A,NOTIFICATION_E,NOTIFICATION_M,PROCESS_ID,TYPE_TRACE_ID,TYPE_NOTE_ID,TYPE_ALERT_ID,AUTOMATIC_TRACE
count,5084.0,5084.0,5084.0,5084.0,5084.00000,5084.0,5084.0,5084.0,5084.0
mean,1.0,0.0,0.0,0.0,294508.52321,1.0,1.0,2.0,0.0
std,0.0,0.0,0.0,0.0,168472.05420,0.0,0.0,0.0,0.0
min,1.0,0.0,0.0,0.0,1123.00000,1.0,1.0,2.0,0.0
25%,1.0,0.0,0.0,0.0,148123.00000,1.0,1.0,2.0,0.0
50%,1.0,0.0,0.0,0.0,283123.00000,1.0,1.0,2.0,0.0
75%,1.0,0.0,0.0,0.0,431123.00000,1.0,1.0,2.0,0.0
max,1.0,0.0,0.0,0.0,734123.00000,1.0,1.0,2.0,0.0

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5084 entries, 0 to 5083
Data columns (total 13 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   DETAIL                                      5084 non-null   object
 1   NOTICES_ID                                  5084 non-null   int64
 2   NOTIFICATION_A                              5084 non-null   int64
 3   NOTIFICATION_E                              5084 non-null   int64
 4   NOTIFICATION_M                              5084 non-null   int64
 5   USER_ID                                     5084 non-null   object
 6   PROCESS_ID                                  5084 non-null   int64
 7   TYPE_TRACE_ID                               5084 non-null   int64
 8   TYPE_NOTE_ID                                5084 non-null   int64
 9   TYPE_ALERT_ID                               5084 non-null   int64
 10  AUTOMATIC_TRACE                             5084 non-null   int64
 11  TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')  5084 non-null   object
 12  TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')  2456 non-null   object
dtypes: int64(9), object(4)
memory usage: 516.5+ KB

In [53]:
df['FECHA_CREACION'] = pd.to_datetime(df['FECHA_CREACION'], format='%d/%m/%y')
df.dtypes

EQUIVALENTE                                            int64
FECHA_CREACION                                datetime64[ns]
CASE_NUMBER                                            int64
ACTS                                                  object
PRETENSIONS                                          float64
QUERY_LINK                                           float64
OBSERVATIONS                                          object
STUDENT_ID                                            object
ASESOR_ID                                            float64
MONITOR_ID                                           float64
AREA_ID                                                int64
THEME_ID                                               int64
TYPE_AREA_ID                                         float64
OFFICE_ID                                              int64
SUBOFFICE_ID                                           int64
STATE_PROCESS_ID                                       int64
STATE_REASON_ID                                      float64
STATE_REASON_DATE                                    float64
PARTY_ID                                             float64
DEPARTMENT_ID                                          int64
CITY_ID                                                int64
ORGAN_ID                                             float64
ORGAN_NUMBER                                         float64
SPECIALTY_ID                                         float64
QUERY_ID                                             float64
TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')            object
TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')            object
dtype: object

In [68]:
df.columns

Index(['DETAIL', 'NOTICES_ID', 'NOTIFICATION_A', 'NOTIFICATION_E',
       'NOTIFICATION_M', 'USER_ID', 'PROCESS_ID', 'TYPE_TRACE_ID',
       'TYPE_NOTE_ID', 'TYPE_ALERT_ID', 'AUTOMATIC_TRACE',
       'TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')',
       'TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')'],
      dtype='object')

In [55]:
df.tail(10)

,EQUIVALENTE,FECHA_CREACION,CASE_NUMBER,ACTS,PRETENSIONS,QUERY_LINK,OBSERVATIONS,STUDENT_ID,ASESOR_ID,MONITOR_ID,...,STATE_REASON_DATE,PARTY_ID,DEPARTMENT_ID,CITY_ID,ORGAN_ID,ORGAN_NUMBER,SPECIALTY_ID,QUERY_ID,"TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')","TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')"
202,488123,2023-05-04,488123,se celebro contrato verbal por parte de WILLIA...,NaN,NaN,Beneficiario requiere asesoria y acompañamient...,jesvallejo@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-05-04 10:39:02,2023-05-04 10:39:02
203,493123,2023-05-05,493123,SE RECIBE CASO USUARIA EN CALIDAD DE MADRE COM...,NaN,NaN,USUARIA ASISTE A CONSULTORIO JURÍDICO EN REPRE...,divlasso@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-05-05 08:35:51,2023-05-05 08:35:51
204,418123,2023-04-13,418123,La señora Angelica Martinez manifiesta que su ...,NaN,NaN,USUARIA SOLICITA PROYECCION DE DERECHO DE PETI...,wilinarvaez@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-04-13 10:30:50,2023-04-13 10:30:50
205,419123,2023-04-13,419123,el usuario afirma que tiene conflictos con la ...,NaN,NaN,USUARIO SOLICITA ASESORIA EN TEMA DE DERECHO D...,meayala@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-04-13 11:22:47,2023-04-13 11:22:47
206,204123,2023-03-02,204123,Usuaria quien asiste para asesoría jurídica y ...,NaN,NaN,Usuaria requiere asesoría para proyectar liqui...,oibarra@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-03-02 14:51:56,2023-03-02 14:51:56
207,487123,2023-05-04,487123,La usuaria refiere tener dos hijos de nueve y ...,NaN,NaN,MADRE CABEZA DE FAMILIA: Beneficiaria requiere...,angesantander@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-05-04 09:14:11,2023-05-04 09:14:11
208,498123,2023-05-05,498123,"La usuaria Fanny Rubiela Vela Arias, trabajo e...",NaN,NaN,USUARIA REFIERE QUÉ TRABAJO MEDIANTE CONTRATO ...,practicante,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-05-05 10:49:17,2023-05-05 10:49:17
209,515123,2023-05-10,515123,Me encuentro sin empleo y en este momento no t...,NaN,NaN,Beneficiario requiere asesoria y acompañamient...,danielsdelgado@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-05-10 11:25:02,2023-05-10 11:25:02
210,527123,2023-05-12,527123,SE DESIGNA A TRAVES DE CITATORIO COMO REPRESEN...,NaN,NaN,SE DESIGNA A TRAVES DE CITATORIO COMO REPRESEN...,jusalas@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-05-12 10:45:15,2023-05-12 10:45:15
211,523123,2023-05-11,523123,La usuaria refirió ser estudiante de la univer...,NaN,NaN,Beneficiaria requiere asesoria y acompañamient...,anlombana@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2023-05-11 11:12:05,2023-05-11 11:12:05

In [56]:
df.head().T

,0,1,2,3,4
EQUIVALENTE,231123,274123,357123,408123,494123
FECHA_CREACION,2023-03-09 00:00:00,2023-03-15 00:00:00,2023-03-27 00:00:00,2023-04-11 00:00:00,2023-05-05 00:00:00
CASE_NUMBER,231123,274123,357123,408123,494123
ACTS,La usuaria manifiesta que el dia 24 de febrero...,Se acepta asunto por parte del estudiante a la...,El señor Ricardo Adolfo Moreno se presenta a c...,Se me ha designado para este asunto como apode...,SE PRESENTA LA USUARIA DA A CONOCER QUE DESDE ...
PRETENSIONS,NaN,NaN,NaN,NaN,NaN
QUERY_LINK,NaN,NaN,NaN,NaN,NaN
OBSERVATIONS,PERSONA DE LA TERCERA EDAD: Usuaria requiere a...,EL PRESENTE ASUNTO ES ENTREGADO A TRAVES DE CI...,USUARIO MENCIONA QUE FUE VICTIMA DEL DELITO DE...,EL PRESENTE ASUNTO ES ASIGNADO A TRAVES DE CIT...,USUARIA ASISTE A CONSULTORIOS URÍDICOS CON EL ...
STUDENT_ID,catandrade@umariana.edu.co,lmurillo@umariana.edu.co,josefburbano@umariana.edu.co,anlombana@umariana.edu.co,imeza@umariana.edu.co
ASESOR_ID,NaN,NaN,NaN,NaN,NaN
MONITOR_ID,NaN,NaN,NaN,NaN,NaN
AREA_ID,3,2,2,4,4
THEME_ID,59,27,27,91,91
TYPE_AREA_ID,NaN,NaN,NaN,NaN,NaN
OFFICE_ID,1,1,1,1,1
SUBOFFICE_ID,1,1,1,1,1
STATE_PROCESS_ID,1,1,1,1,1
STATE_REASON_ID,NaN,NaN,NaN,NaN,NaN
STATE_REASON_DATE,NaN,NaN,NaN,NaN,NaN
PARTY_ID,NaN,NaN,NaN,NaN,NaN
DEPARTMENT_ID,31,31,31,31,31
CITY_ID,770,770,770,770,770
ORGAN_ID,NaN,NaN,NaN,NaN,NaN
ORGAN_NUMBER,NaN,NaN,NaN,NaN,NaN
SPECIALTY_ID,NaN,NaN,NaN,NaN,NaN
QUERY_ID,NaN,NaN,NaN,NaN,NaN
"TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')",2023-03-09 08:56:15,2023-03-15 16:45:02,2023-03-27 16:25:45,2023-04-11 16:04:33,2023-05-05 09:00:42
"TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')",2023-03-09 08:56:15,2023-03-15 16:45:02,2023-03-27 16:25:45,2023-04-11 16:04:33,2023-05-05 09:00:42

In [36]:
df[['OBSERVATIONS']]

                                          OBSERVATIONS
0    PERSONA DE LA TERCERA EDAD: Usuaria requiere a...
1    EL PRESENTE ASUNTO ES ENTREGADO A TRAVES DE CI...
2    USUARIO MENCIONA QUE FUE VICTIMA DEL DELITO DE...
3    EL PRESENTE ASUNTO ES ASIGNADO A TRAVES DE CIT...
4    USUARIA ASISTE A CONSULTORIOS URÍDICOS CON EL ...
..                                                 ...
207  MADRE CABEZA DE FAMILIA: Beneficiaria requiere...
208  USUARIA REFIERE QUÉ TRABAJO MEDIANTE CONTRATO ...
209  Beneficiario requiere asesoria y acompañamient...
210  SE DESIGNA A TRAVES DE CITATORIO COMO REPRESEN...
211  Beneficiaria requiere asesoria y acompañamient...

[212 rows x 1 columns]

In [37]:
df['CASE_NUMBER'].value_counts()

CASE_NUMBER
231123    1
38123     1
120123    1
124123    1
39123     1
         ..
79123     1
237123    1
259123    1
269123    1
523123    1
Name: count, Length: 212, dtype: int64

In [ ]:
df[df.CASE_NUMBER == '231123'][['ACTS','OBSERVATIONS','PRETENSIONS']]

In [ ]:
df[['ACTS','OBSERVATIONS','PRETENSIONS']]

In [ ]:
df.PROCESS_ID.unique()

In [ ]:
df[df.PROCESS_ID == 937215]

In [ ]:
df[df.case_number == 'RAD2022000213'][['acts','pretensions','observations']]

### Limpieza del archivo

In [69]:
# columnas=['acts','pretensions','observations']
columnas=df.columns
columnas

Index(['DETAIL', 'NOTICES_ID', 'NOTIFICATION_A', 'NOTIFICATION_E',
       'NOTIFICATION_M', 'USER_ID', 'PROCESS_ID', 'TYPE_TRACE_ID',
       'TYPE_NOTE_ID', 'TYPE_ALERT_ID', 'AUTOMATIC_TRACE',
       'TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')',
       'TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')'],
      dtype='object')

#### Limpieza quitando tildes y Ñ ñ

In [70]:
# Quitar tildes y ñs
for columna in columnas:
    df[columna] = df[columna].apply(lambda x: re.sub(r'[^@a-zA-Z0-9 .;:\-_]+', '', str(x)))

#### Limpieza conservando tildes y ñ Ñ

In [ ]:
for columna in columnas:
    df[columna] = df[columna].apply(lambda x: re.sub(r'[^@áéíóúñüÑa-zA-Z0-9 .,;:\-_]+', '', str(x)))

In [71]:
df.head().T

,0,1,2,3,4
DETAIL,Se revisa y se da visto bueno de: derecho de p...,Se revisa corrige y aprueba la solicitud de co...,Se revisan Estados Electrnicos del proceso eje...,Se revisan Estados electrnicos el da 15 de may...,Se revisan actuaciones pendiente con la usuari...
NOTICES_ID,1,1,1,1,1
NOTIFICATION_A,0,0,0,0,0
NOTIFICATION_E,0,0,0,0,0
NOTIFICATION_M,0,0,0,0,0
USER_ID,camilnarvaez@umariana.edu.co,madiaz@umariana.edu.co,evemunoz@umariana.edu.co,evemunoz@umariana.edu.co,jorarciniegas@umariana.edu.co
PROCESS_ID,576123,73123,241123,241123,392123
TYPE_TRACE_ID,1,1,1,1,1
TYPE_NOTE_ID,1,1,1,1,1
TYPE_ALERT_ID,2,2,2,2,2
AUTOMATIC_TRACE,0,0,0,0,0
"TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')",2023-09-25 00:00:00,2023-06-08 00:00:00,2023-03-09 17:07:17,2023-03-09 17:07:17,2023-09-01 00:00:00
"TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')",nan,nan,2023-03-10 00:00:00,2023-05-15 00:00:00,nan

#### NULL para MySQL

In [72]:
for columna in columnas:
    df[columna].fillna('NULL', inplace=True)
    df.loc[df[columna] == 'nan', columna] = 'NULL'

In [73]:
df.head().T

,0,1,2,3,4
DETAIL,Se revisa y se da visto bueno de: derecho de p...,Se revisa corrige y aprueba la solicitud de co...,Se revisan Estados Electrnicos del proceso eje...,Se revisan Estados electrnicos el da 15 de may...,Se revisan actuaciones pendiente con la usuari...
NOTICES_ID,1,1,1,1,1
NOTIFICATION_A,0,0,0,0,0
NOTIFICATION_E,0,0,0,0,0
NOTIFICATION_M,0,0,0,0,0
USER_ID,camilnarvaez@umariana.edu.co,madiaz@umariana.edu.co,evemunoz@umariana.edu.co,evemunoz@umariana.edu.co,jorarciniegas@umariana.edu.co
PROCESS_ID,576123,73123,241123,241123,392123
TYPE_TRACE_ID,1,1,1,1,1
TYPE_NOTE_ID,1,1,1,1,1
TYPE_ALERT_ID,2,2,2,2,2
AUTOMATIC_TRACE,0,0,0,0,0
"TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')",2023-09-25 00:00:00,2023-06-08 00:00:00,2023-03-09 17:07:17,2023-03-09 17:07:17,2023-09-01 00:00:00
"TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')",NULL,NULL,2023-03-10 00:00:00,2023-05-15 00:00:00,NULL

In [74]:
df.to_csv(archivo_salida, sep='|', quotechar = '"', index=False)

---

### ESTO ES UNA PRUEBA ... NO SE DEBE EJECUTAR

In [ ]:
with open(archivo_entrada, 'r', encoding='utf-8') as archivo_original:
    # Lee el contenido del archivo
    contenido = archivo_original.read()

# Remueve caracteres no deseados (en este caso, saltos de línea)
contenido_limpio = contenido.replace('\n', '')

# Crea un nuevo archivo y escribe el contenido limpio
with open('archivo_limpio.csv', 'w') as archivo_limpio:
    archivo_limpio.write(contenido_limpio)

In [ ]:
import csv

# Abre el archivo CSV original
with open(archivo_entrada, 'r', newline='', encoding='utf-8') as archivo_original:
    # Lee el contenido del archivo y conviértelo en una lista de diccionarios
    lector_csv = csv.DictReader(archivo_original)
    contenido = list(lector_csv)

# Remueve los campos no deseados de cada fila
# for fila in contenido:
#     del fila['campo_no_deseado_1']
#     del fila['campo_no_deseado_2']
    # Añade más líneas como la anterior para cada campo que quieras remover

# Crea un nuevo archivo CSV y escribe el contenido limpio
with open('archivo_limpio.csv', 'w', newline='') as archivo_limpio:
    escritor_csv = csv.DictWriter(archivo_limpio, fieldnames=lector_csv.fieldnames)
    escritor_csv.writeheader()
    escritor_csv.writerows(contenido)

---