### Preparación ambiente

In [1]:
import csv
import os
import pandas as pd
import re

In [2]:
pd.__version__

'2.0.1'

Define el path utilizando la función join del módulo os   
G:\Mi unidad\Proyectos\En Curso\EGS\USTA\Migración   
C:\Users\carlo\Google Drive\Proyectos\En Curso\EGS\USTA\Migración

/Users/carlos/Library/CloudStorage/GoogleDrive-carlos.gomzv@gmail.com/My Drive/Proyectos/En Curso/EGS/Mariana

In [4]:
path = os.path.join("/Users","carlos","Library","CloudStorage", "GoogleDrive-carlos.gomzv@gmail.com","My Drive","Proyectos", "En Curso", "EGS", "Mariana")

# Imprime el path resultante
# print(path)
if os.path.exists(path) and os.path.isdir(path):
    # Listar los archivos en la ruta
    archivos = os.listdir(path)

    # Itera a través de los nombres de los archivos
    for archivo in archivos:
        print(archivo)
else:
    print("La ruta "+ path +" especificada no existe o no es un directorio válido.")

customers_19102023.csv
NEWout_processes_25102023.csv
processes_25102023.csv
processes_31102023.csv
.DS_Store
out_customers_25102023.csv
TRACE_PROCESSES_19102023.csv
out_processes_19102023.csv
PROCESS_PART_19102023.csv
out_TRACE_PROCESSES_19102023.csv
TRACE_PROCESSES_25102023.csv
out_processes_25102023.csv
out_customers_19102023.csv
processes_19102023.csv
customers_25102023.csv
out_TRACE_PROCESSES_25102023.csv
PROCESS_PART_25102023.csv

Especifica la rutas y los archivos CSV que se quiere leer y escribir

In [5]:
# Especifica la ruta del archivo CSV que quiere leer
archivo_entrada = path + "/processes_31102023.csv"

# Especifica la ruta del archivo CSV que quiere guardar
archivo_salida = path + "/out_processes_31102023.csv"

### Validaciones

In [6]:
df = pd.read_csv(archivo_entrada, encoding="utf-8", sep="|")

In [7]:
df.describe()

,EQUIVALENTE,CASE_NUMBER,PRETENSIONS,QUERY_LINK,ASESOR_ID,MONITOR_ID,AREA_ID,THEME_ID,TYPE_AREA_ID,OFFICE_ID,...,STATE_PROCESS_ID,STATE_REASON_ID,STATE_REASON_DATE,PARTY_ID,DEPARTMENT_ID,CITY_ID,ORGAN_ID,ORGAN_NUMBER,SPECIALTY_ID,QUERY_ID
count,3.830000e+02,3.830000e+02,0.0,0.0,0.0,0.0,383.000000,383.000000,0.0,383.0,...,383.0,0.0,0.0,0.0,383.0,383.0,0.0,0.0,0.0,0.0
mean,4.282800e+05,4.282800e+05,NaN,NaN,NaN,NaN,2.600522,47.459530,NaN,1.0,...,1.0,NaN,NaN,NaN,31.0,770.0,NaN,NaN,NaN,NaN
std,3.241504e+05,3.241504e+05,NaN,NaN,NaN,NaN,0.920789,27.503789,NaN,0.0,...,0.0,NaN,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN
min,3.219000e+03,3.219000e+03,NaN,NaN,NaN,NaN,1.000000,9.000000,NaN,1.0,...,1.0,NaN,NaN,NaN,31.0,770.0,NaN,NaN,NaN,NaN
25%,1.651220e+05,1.651220e+05,NaN,NaN,NaN,NaN,2.000000,27.000000,NaN,1.0,...,1.0,NaN,NaN,NaN,31.0,770.0,NaN,NaN,NaN,NaN
50%,3.582210e+05,3.582210e+05,NaN,NaN,NaN,NaN,2.000000,27.000000,NaN,1.0,...,1.0,NaN,NaN,NaN,31.0,770.0,NaN,NaN,NaN,NaN
75%,6.266720e+05,6.266720e+05,NaN,NaN,NaN,NaN,3.000000,59.000000,NaN,1.0,...,1.0,NaN,NaN,NaN,31.0,770.0,NaN,NaN,NaN,NaN
max,1.514217e+06,1.514217e+06,NaN,NaN,NaN,NaN,4.000000,91.000000,NaN,1.0,...,1.0,NaN,NaN,NaN,31.0,770.0,NaN,NaN,NaN,NaN

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383 entries, 0 to 382
Data columns (total 27 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   EQUIVALENTE                                 383 non-null    int64
 1   TO_CHAR(FECHA_CREACION,'YYYY-MM-DD')        383 non-null    object
 2   CASE_NUMBER                                 383 non-null    int64
 3   ACTS                                        383 non-null    object
 4   PRETENSIONS                                 0 non-null      float64
 5   QUERY_LINK                                  0 non-null      float64
 6   OBSERVATIONS                                383 non-null    object
 7   STUDENT_ID                                  383 non-null    object
 8   ASESOR_ID                                   0 non-null      float64
 9   MONITOR_ID                                  0 non-null      float64
 10  AREA_ID                                     383 non-null    int64
 11  THEME_ID                                    383 non-null    int64
 12  TYPE_AREA_ID                                0 non-null      float64
 13  OFFICE_ID                                   383 non-null    int64
 14  SUBOFFICE_ID                                383 non-null    int64
 15  STATE_PROCESS_ID                            383 non-null    int64
 16  STATE_REASON_ID                             0 non-null      float64
 17  STATE_REASON_DATE                           0 non-null      float64
 18  PARTY_ID                                    0 non-null      float64
 19  DEPARTMENT_ID                               383 non-null    int64
 20  CITY_ID                                     383 non-null    int64
 21  ORGAN_ID                                    0 non-null      float64
 22  ORGAN_NUMBER                                0 non-null      float64
 23  SPECIALTY_ID                                0 non-null      float64
 24  QUERY_ID                                    0 non-null      float64
 25  TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')  383 non-null    object
 26  TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')  383 non-null    object
dtypes: float64(12), int64(9), object(6)
memory usage: 80.9+ KB

In [9]:
df.columns

Index(['EQUIVALENTE', 'TO_CHAR(FECHA_CREACION,'YYYY-MM-DD')', 'CASE_NUMBER',
       'ACTS', 'PRETENSIONS', 'QUERY_LINK', 'OBSERVATIONS', 'STUDENT_ID',
       'ASESOR_ID', 'MONITOR_ID', 'AREA_ID', 'THEME_ID', 'TYPE_AREA_ID',
       'OFFICE_ID', 'SUBOFFICE_ID', 'STATE_PROCESS_ID', 'STATE_REASON_ID',
       'STATE_REASON_DATE', 'PARTY_ID', 'DEPARTMENT_ID', 'CITY_ID', 'ORGAN_ID',
       'ORGAN_NUMBER', 'SPECIALTY_ID', 'QUERY_ID',
       'TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')',
       'TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')'],
      dtype='object')

In [10]:
df.tail(10)

,EQUIVALENTE,"TO_CHAR(FECHA_CREACION,'YYYY-MM-DD')",CASE_NUMBER,ACTS,PRETENSIONS,QUERY_LINK,OBSERVATIONS,STUDENT_ID,ASESOR_ID,MONITOR_ID,...,STATE_REASON_DATE,PARTY_ID,DEPARTMENT_ID,CITY_ID,ORGAN_ID,ORGAN_NUMBER,SPECIALTY_ID,QUERY_ID,"TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')","TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')"
373,368222,2022-09-14,368222,"Usuaria ostenta la tutoría de su nieta, quien ...",NaN,NaN,USUARIA REQUIERE DAR INICIO A PROCESO PARA FIJ...,tcaicedo@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-09-14 16:01:13,2022-09-14 16:01:13
374,301222,2022-09-07,301222,USUARIO MANIFIESTA QUE SE HICIERON COMPRAS ELE...,NaN,NaN,USUARIO MANIFIESTA QUE SE REALIZARON COMPRAS P...,ganoguera@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-09-07 08:47:43,2022-09-07 08:47:43
375,452222,2022-09-29,452222,SE ME ASIGNÓ COMO REPRESENTANTE PARA LA DEFENS...,NaN,NaN,A TRAVES DE CITATORIO SE DESIGNA A LA ESTUDIAN...,lauravburbano@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-09-29 11:20:36,2022-09-29 11:20:36
376,604222,2022-10-25,604222,El usuario manifiesta que se realizo un allana...,NaN,NaN,Usuario requiere asesoria y acompañamiento jur...,ligmolina@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-10-25 16:44:44,2022-10-25 16:44:44
377,212222,2022-08-26,212222,La niña Ingri Esmith Chalacan Zamudio nació en...,NaN,NaN,USUARIA REQUIERE ASESORÍA Y ACOMPAÑAMIENTO JUR...,lauravburbano@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-08-26 11:41:24,2022-08-26 11:41:24
378,314222,2022-09-07,314222,La usuaria manifiesta que a través de la Alcal...,NaN,NaN,USUARIA REQUIERE ASESORIA EN TORNO A DERECHO D...,ligmolina@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-09-07 16:19:26,2022-09-07 16:19:26
379,483222,2022-10-04,483222,EL SEÑOR DANIEL ALEXANDER ASISTE A CONSULTORIO...,NaN,NaN,USUARIO SOLICITA ACOMPAÑAMIENTO Y ASESORIA JUR...,mariacaceron@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-10-04 09:53:32,2022-10-04 09:53:32
380,708222,2022-11-09,708222,Realizo entrevista a usuaria que requiere ases...,NaN,NaN,USUARIA REQUIERE PROYECCION DE CONCEPTO RESPEC...,practicante,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-11-09 15:56:56,2022-11-09 15:56:56
381,705222,2022-11-09,705222,"La señora Maria Fabiola, refiere que se llevo ...",NaN,NaN,USUARIA SOLICITA ASESORIA EN TORNO A SUSCRIPCI...,santieraso@umariana.edu.co,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2022-11-09 10:51:27,2022-11-09 10:51:27
382,142221,2021-08-20,142221,Se realizo una llamada al batallón de ingenier...,NaN,NaN,Se designa como defensor de oficio del señor N...,practicante,NaN,NaN,...,NaN,NaN,31,770,NaN,NaN,NaN,NaN,2021-08-20 09:41:10,2021-08-20 09:41:10

In [11]:
df.head().T

,0,1,2,3,4
EQUIVALENTE,13121,101121,313121,229221,233221
"TO_CHAR(FECHA_CREACION,'YYYY-MM-DD')",2021-02-10,2021-02-25,2021-04-19,2021-08-31,2021-08-31
CASE_NUMBER,13121,101121,313121,229221,233221
ACTS,El señor Tulio García es atacado con múltiples...,Se trata de un procesos penal cuyo delito es H...,"MEDIANTE UNA SOLICITUD DE LA CONTRALORIA , SE ...",Se me asigna como representante de victima del...,Recibo designación como defensor de oficio den...
PRETENSIONS,NaN,NaN,NaN,NaN,NaN
QUERY_LINK,NaN,NaN,NaN,NaN,NaN
OBSERVATIONS,SE DESIGNA COMO DEFENSOR DE VICTIMA EN EL PROC...,SE DESIGNA ESTUDIANTE COMO REPRESENTANTE DE VI...,SE ASIGNA COMO DEFENSOR DE OFICIO DE WSP SERVI...,SE DESIGNA COMO REPRESENTANTE DE VICTIMAS PARA...,Se designa como defensor de oficio del soldado...
STUDENT_ID,emidnarvaez@umariana.edu.co,practicante,scanizares@umariana.edu.co,ligmolina@umariana.edu.co,girevelo@umariana.edu.co
ASESOR_ID,NaN,NaN,NaN,NaN,NaN
MONITOR_ID,NaN,NaN,NaN,NaN,NaN
AREA_ID,2,2,4,2,4
THEME_ID,27,27,91,27,91
TYPE_AREA_ID,NaN,NaN,NaN,NaN,NaN
OFFICE_ID,1,1,1,1,1
SUBOFFICE_ID,1,1,1,1,1
STATE_PROCESS_ID,1,1,1,1,1
STATE_REASON_ID,NaN,NaN,NaN,NaN,NaN
STATE_REASON_DATE,NaN,NaN,NaN,NaN,NaN
PARTY_ID,NaN,NaN,NaN,NaN,NaN
DEPARTMENT_ID,31,31,31,31,31
CITY_ID,770,770,770,770,770
ORGAN_ID,NaN,NaN,NaN,NaN,NaN
ORGAN_NUMBER,NaN,NaN,NaN,NaN,NaN
SPECIALTY_ID,NaN,NaN,NaN,NaN,NaN
QUERY_ID,NaN,NaN,NaN,NaN,NaN
"TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')",2021-02-10 15:35:13,2021-02-25 09:47:01,2021-04-19 11:14:54,2021-08-31 08:54:50,2021-08-31 09:21:11
"TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')",2021-02-10 15:35:13,2021-02-25 09:47:01,2021-04-19 11:14:54,2021-08-31 08:54:50,2021-08-31 09:21:11

In [12]:
df[['OBSERVATIONS']]

                                          OBSERVATIONS
0    SE DESIGNA COMO DEFENSOR DE VICTIMA EN EL PROC...
1    SE DESIGNA ESTUDIANTE COMO REPRESENTANTE DE VI...
2    SE ASIGNA COMO DEFENSOR DE OFICIO DE WSP SERVI...
3    SE DESIGNA COMO REPRESENTANTE DE VICTIMAS PARA...
4    Se designa como defensor de oficio del soldado...
..                                                 ...
378  USUARIA REQUIERE ASESORIA EN TORNO A DERECHO D...
379  USUARIO SOLICITA ACOMPAÑAMIENTO Y ASESORIA JUR...
380  USUARIA REQUIERE PROYECCION DE CONCEPTO RESPEC...
381  USUARIA SOLICITA ASESORIA EN TORNO A SUSCRIPCI...
382  Se designa como defensor de oficio del señor N...

[383 rows x 1 columns]

In [14]:
df['CASE_NUMBER'].value_counts()

CASE_NUMBER
13121     1
653221    1
166122    1
352221    1
47122     1
         ..
54221     1
354121    1
267221    1
209121    1
142221    1
Name: count, Length: 383, dtype: int64

In [ ]:
df[df.CASE_NUMBER == '231123'][['ACTS','OBSERVATIONS','PRETENSIONS']]

In [ ]:
df[['ACTS','OBSERVATIONS','PRETENSIONS']]

In [ ]:
df.PROCESS_ID.unique()

In [ ]:
df[df.PROCESS_ID == 937215]

In [ ]:
df[df.case_number == 'RAD2022000213'][['acts','pretensions','observations']]

### Limpieza del archivo

In [15]:
# columnas=['acts','pretensions','observations']
columnas=df.columns
columnas

Index(['EQUIVALENTE', 'TO_CHAR(FECHA_CREACION,'YYYY-MM-DD')', 'CASE_NUMBER',
       'ACTS', 'PRETENSIONS', 'QUERY_LINK', 'OBSERVATIONS', 'STUDENT_ID',
       'ASESOR_ID', 'MONITOR_ID', 'AREA_ID', 'THEME_ID', 'TYPE_AREA_ID',
       'OFFICE_ID', 'SUBOFFICE_ID', 'STATE_PROCESS_ID', 'STATE_REASON_ID',
       'STATE_REASON_DATE', 'PARTY_ID', 'DEPARTMENT_ID', 'CITY_ID', 'ORGAN_ID',
       'ORGAN_NUMBER', 'SPECIALTY_ID', 'QUERY_ID',
       'TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')',
       'TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')'],
      dtype='object')

#### Limpieza quitando tildes y Ñ ñ

In [16]:
# Quitar tildes y ñs
for columna in columnas:
    df[columna] = df[columna].apply(lambda x: re.sub(r'[^@a-zA-Z0-9 .;:\-_]+', '', str(x)))

#### Limpieza conservando tildes y ñ Ñ

In [ ]:
for columna in columnas:
    df[columna] = df[columna].apply(lambda x: re.sub(r'[^@áéíóúñüÑa-zA-Z0-9 .,;:\-_]+', '', str(x)))

In [17]:
df.head().T

,0,1,2,3,4
EQUIVALENTE,13121,101121,313121,229221,233221
"TO_CHAR(FECHA_CREACION,'YYYY-MM-DD')",2021-02-10,2021-02-25,2021-04-19,2021-08-31,2021-08-31
CASE_NUMBER,13121,101121,313121,229221,233221
ACTS,El seor Tulio Garca es atacado con mltiples go...,Se trata de un procesos penal cuyo delito es H...,MEDIANTE UNA SOLICITUD DE LA CONTRALORIA SE P...,Se me asigna como representante de victima del...,Recibo designacin como defensor de oficio dent...
PRETENSIONS,nan,nan,nan,nan,nan
QUERY_LINK,nan,nan,nan,nan,nan
OBSERVATIONS,SE DESIGNA COMO DEFENSOR DE VICTIMA EN EL PROC...,SE DESIGNA ESTUDIANTE COMO REPRESENTANTE DE VI...,SE ASIGNA COMO DEFENSOR DE OFICIO DE WSP SERVI...,SE DESIGNA COMO REPRESENTANTE DE VICTIMAS PARA...,Se designa como defensor de oficio del soldado...
STUDENT_ID,emidnarvaez@umariana.edu.co,practicante,scanizares@umariana.edu.co,ligmolina@umariana.edu.co,girevelo@umariana.edu.co
ASESOR_ID,nan,nan,nan,nan,nan
MONITOR_ID,nan,nan,nan,nan,nan
AREA_ID,2,2,4,2,4
THEME_ID,27,27,91,27,91
TYPE_AREA_ID,nan,nan,nan,nan,nan
OFFICE_ID,1,1,1,1,1
SUBOFFICE_ID,1,1,1,1,1
STATE_PROCESS_ID,1,1,1,1,1
STATE_REASON_ID,nan,nan,nan,nan,nan
STATE_REASON_DATE,nan,nan,nan,nan,nan
PARTY_ID,nan,nan,nan,nan,nan
DEPARTMENT_ID,31,31,31,31,31
CITY_ID,770,770,770,770,770
ORGAN_ID,nan,nan,nan,nan,nan
ORGAN_NUMBER,nan,nan,nan,nan,nan
SPECIALTY_ID,nan,nan,nan,nan,nan
QUERY_ID,nan,nan,nan,nan,nan
"TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')",2021-02-10 15:35:13,2021-02-25 09:47:01,2021-04-19 11:14:54,2021-08-31 08:54:50,2021-08-31 09:21:11
"TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')",2021-02-10 15:35:13,2021-02-25 09:47:01,2021-04-19 11:14:54,2021-08-31 08:54:50,2021-08-31 09:21:11

#### NULL para MySQL

In [18]:
for columna in columnas:
    df[columna].fillna('NULL', inplace=True)
    df.loc[df[columna] == 'nan', columna] = 'NULL'

In [19]:
df.head().T

,0,1,2,3,4
EQUIVALENTE,13121,101121,313121,229221,233221
"TO_CHAR(FECHA_CREACION,'YYYY-MM-DD')",2021-02-10,2021-02-25,2021-04-19,2021-08-31,2021-08-31
CASE_NUMBER,13121,101121,313121,229221,233221
ACTS,El seor Tulio Garca es atacado con mltiples go...,Se trata de un procesos penal cuyo delito es H...,MEDIANTE UNA SOLICITUD DE LA CONTRALORIA SE P...,Se me asigna como representante de victima del...,Recibo designacin como defensor de oficio dent...
PRETENSIONS,NULL,NULL,NULL,NULL,NULL
QUERY_LINK,NULL,NULL,NULL,NULL,NULL
OBSERVATIONS,SE DESIGNA COMO DEFENSOR DE VICTIMA EN EL PROC...,SE DESIGNA ESTUDIANTE COMO REPRESENTANTE DE VI...,SE ASIGNA COMO DEFENSOR DE OFICIO DE WSP SERVI...,SE DESIGNA COMO REPRESENTANTE DE VICTIMAS PARA...,Se designa como defensor de oficio del soldado...
STUDENT_ID,emidnarvaez@umariana.edu.co,practicante,scanizares@umariana.edu.co,ligmolina@umariana.edu.co,girevelo@umariana.edu.co
ASESOR_ID,NULL,NULL,NULL,NULL,NULL
MONITOR_ID,NULL,NULL,NULL,NULL,NULL
AREA_ID,2,2,4,2,4
THEME_ID,27,27,91,27,91
TYPE_AREA_ID,NULL,NULL,NULL,NULL,NULL
OFFICE_ID,1,1,1,1,1
SUBOFFICE_ID,1,1,1,1,1
STATE_PROCESS_ID,1,1,1,1,1
STATE_REASON_ID,NULL,NULL,NULL,NULL,NULL
STATE_REASON_DATE,NULL,NULL,NULL,NULL,NULL
PARTY_ID,NULL,NULL,NULL,NULL,NULL
DEPARTMENT_ID,31,31,31,31,31
CITY_ID,770,770,770,770,770
ORGAN_ID,NULL,NULL,NULL,NULL,NULL
ORGAN_NUMBER,NULL,NULL,NULL,NULL,NULL
SPECIALTY_ID,NULL,NULL,NULL,NULL,NULL
QUERY_ID,NULL,NULL,NULL,NULL,NULL
"TO_CHAR(CREATED_AT,'YYYY-MM-DDHH24:MI:SS')",2021-02-10 15:35:13,2021-02-25 09:47:01,2021-04-19 11:14:54,2021-08-31 08:54:50,2021-08-31 09:21:11
"TO_CHAR(UPDATED_AT,'YYYY-MM-DDHH24:MI:SS')",2021-02-10 15:35:13,2021-02-25 09:47:01,2021-04-19 11:14:54,2021-08-31 08:54:50,2021-08-31 09:21:11

In [20]:
df.to_csv(archivo_salida, sep='|', quotechar = '"', index=False)

---

### ESTO ES UNA PRUEBA ... NO SE DEBE EJECUTAR

In [ ]:
with open(archivo_entrada, 'r', encoding='utf-8') as archivo_original:
    # Lee el contenido del archivo
    contenido = archivo_original.read()

# Remueve caracteres no deseados (en este caso, saltos de línea)
contenido_limpio = contenido.replace('\n', '')

# Crea un nuevo archivo y escribe el contenido limpio
with open('archivo_limpio.csv', 'w') as archivo_limpio:
    archivo_limpio.write(contenido_limpio)

In [ ]:
import csv

# Abre el archivo CSV original
with open(archivo_entrada, 'r', newline='', encoding='utf-8') as archivo_original:
    # Lee el contenido del archivo y conviértelo en una lista de diccionarios
    lector_csv = csv.DictReader(archivo_original)
    contenido = list(lector_csv)

# Remueve los campos no deseados de cada fila
# for fila in contenido:
#     del fila['campo_no_deseado_1']
#     del fila['campo_no_deseado_2']
    # Añade más líneas como la anterior para cada campo que quieras remover

# Crea un nuevo archivo CSV y escribe el contenido limpio
with open('archivo_limpio.csv', 'w', newline='') as archivo_limpio:
    escritor_csv = csv.DictWriter(archivo_limpio, fieldnames=lector_csv.fieldnames)
    escritor_csv.writeheader()
    escritor_csv.writerows(contenido)

---