In [35]:
import csv
import os
import pandas as pd

In [54]:
pd.__version__

'1.4.4'

Define el path utilizando la función join del módulo os   
G:\Mi unidad\Proyectos\En Curso\EGS\USTA\Migración

In [37]:
path = os.path.join("G:\\","Mi unidad", "Proyectos", "En Curso", "EGS", "USTA", "Migración")

# Imprime el path resultante
print(path)

G:\Mi unidad\Proyectos\En Curso\EGS\USTA\Migración

Especifica la rutas y los archivos CSV que se quiere leer y escribir

In [38]:
# Especifica la ruta del archivo CSV que quieres leer
archivo_entrada = path + "\Datos_00_MIGRACION_PROCESSES.csv"

# Especifica la ruta del archivo CSV que quieres guardar
archivo_salida = path + "\Out_Datos_00_MIGRACION_PROCESSES.csv"

In [39]:
df = pd.read_csv(archivo_entrada)

In [61]:
df.describe()

,query_link,area_id,theme_id,type_area_id,office_id,suboffice_id,state_process_id,state_reason_id,party_id,department_id,city_id,organ_id,organ_number,specialty_id,query_id
count,0.0,615.000000,615.000000,0.0,615.0,615.000000,615.000000,249.000000,615.0,0.0,0.0,0.0,0.0,0.0,0.0
mean,NaN,4.271545,52.134959,NaN,1.0,1.837398,1.406504,16.955823,14.0,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,2.129233,27.540488,NaN,0.0,1.868538,0.491581,4.977576,0.0,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,1.000000,1.000000,NaN,1.0,1.000000,1.000000,8.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,3.000000,47.000000,NaN,1.0,1.000000,1.000000,11.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,5.000000,60.000000,NaN,1.0,1.000000,1.000000,20.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,5.000000,60.000000,NaN,1.0,1.000000,2.000000,21.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,9.000000,96.000000,NaN,1.0,6.000000,2.000000,21.000000,14.0,NaN,NaN,NaN,NaN,NaN,NaN

In [60]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 615 entries, 0 to 614
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   date               615 non-null    object
 1   case_number        615 non-null    object
 2   acts               603 non-null    object
 3   pretensions        603 non-null    object
 4   query_link         0 non-null      float64
 5   observations       615 non-null    object
 6   student_id         584 non-null    object
 7   asesor_id          585 non-null    object
 8   monitor_id         585 non-null    object
 9   area_id            615 non-null    int64
 10  theme_id           615 non-null    int64
 11  type_area_id       0 non-null      float64
 12  office_id          615 non-null    int64
 13  suboffice_id       615 non-null    int64
 14  state_process_id   615 non-null    int64
 15  state_reason_id    249 non-null    float64
 16  state_reason_date  249 non-null    object
 17  party_id           615 non-null    int64
 18  department_id      0 non-null      float64
 19  city_id            0 non-null      float64
 20  organ_id           0 non-null      float64
 21  organ_number       0 non-null      float64
 22  specialty_id       0 non-null      float64
 23  query_id           0 non-null      float64
 24  created_at         615 non-null    object
 25  updated_at         615 non-null    object
dtypes: float64(9), int64(6), object(11)
memory usage: 125.0+ KB

In [52]:
df[['observations']]

                                          observations
0                          prueba del 1 - prueba del 1
1                                                   -
2                                                   -
3     Dr. Martin Hernández Sánchez. \r\nProceso de ...
4     Dr. Daniel Felipe Ospina Sánchez.\nProceso ej...
..                                                 ...
610  REPARTO - Es competente el consultorio cuando ...
611  PROCESO EJECUTIVO DE ALIMENTOS  - Se le inform...
612  ejecutivo de alimentos -   este proceso se ade...
613  EL PROCESO EJECUTIVO YA TIENE OTRO RADICADO, E...
614  numero 3218522096-- esposa-- Yuly Castiblanco ...

[615 rows x 1 columns]

In [63]:
df[df.case_number == 'RAD2022000213'][['acts','pretensions','observations']]

,acts,pretensions,observations
59,"\r\n\r\n\\\""(...) Para solicitarle se adelante...",ACTUACIONES PROCESALES\r\n\r\nAuto N. 014 de f...,PROCESO ASIGNADO (JIMMY ALEJANDRO REALES HERNA...

In [27]:
df.to_csv(archivo_salida, sep='|', quotechar = '"', index=False)